*{
    margin: 0;
    padding: 0;
}
#logo{
    width: 220px;
    height: 85px;
    margin-left: 130px;
    margin-top: 40px;
}
.conteiner_header{
    position: relative;
    max-width: 1350px;
    height: 737px;
    margin-top: 30px;

    
}
.background{
    background: #64236A;
    position: relative;
    display: flex;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 580px;
}
.header_h1{
    font-size: 43px;
    font-family: 'Rubik', sans-serif;
    color: white;
}
.main_img{
    width: 800px;
    height: 778px;

}
#yellow{
    color: #fdcb63;
}
.header_button{
    background-color: #fdcb63;
    color: #64236A;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    width: 246px;
    height: 60px;
    border: none;
    margin-top: 40px;
}
.first_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    width: 100%;
}

